<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Sing In</title>
    <link rel="stylesheet" type="text/css" href="../style/logStyle.css">
    <link rel="stylesheet" th:href="@{/enter/enter.css}">
</head>
<body>

    <form class="box" action="/authorization" method="post">
        <h1>Registration</h1>
        <input type="text" name="name" placeholder="Username" value="" required >
        <input type="password" name="password" placeholder="Password" value="" required>
        <input type="submit" name="" value="Register">
        <a href="/authorization">Login</a>
    </form>

</body>
</html>