<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
  <link rel="stylesheet" th:href="@{/headerStyle.css}">
  <link rel="stylesheet" th:href="@{/generatingButtonStyle.css}">
  <link rel="stylesheet" th:href="@{/userEditigSearch/button.css}">
</head>
<body>
  <header th:insert="blocks/header :: header"/>
    <form action="/userEditing" method="get">
      <div class="button">
        <input type="number" name="id" placeholder="Find by ID">
      </div>
    </form>
</body>
</html>