<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>User Editing</title>
  <link rel="stylesheet" th:href="@{/headerStyle.css}">
  <link rel="stylesheet" th:href="@{/generatingButtonStyle.css}">
  <link rel="stylesheet" th:href="@{/userEditing/table.css}">
  <link rel="stylesheet" th:href="@{/userEditing/button.css}">
</head>
<body>
  <header th:insert="blocks/header :: header"/>

  <form class="table" id="scroll">
    <div th:each="el : ${res}">
      <div class="phone">
        <input type="text">
      </div>
      <div class="user">
        <input type="text">
        <input type="text">
        <input type="text">
      </div>
      <div class="passport">
        <input type="text">
      </div>
      <div class="address">
        <input type="text">
      </div>
      <div class="more">
        <input type="text">
      </div>
    </div>
  </form>

</body>
</html>
