<div th:fragment="header">
  <div class="header">

    <form action="/" method="post" >
      <input class="generation" type="submit" name="" value="Generating 1 million factors">
    </form>
    <form action="/" method="post">
      <input class="generation" type="number" placeholder="Generate..." >
    </form>

    <form action="/authorization" method="get">
      <input class="headerButton" type="submit" name="" value="Log Out">
    </form>
    <form action="/userEditingSearch" method="get">
      <input class="headerButton" type="submit" name="" value="User editing">
    </form>
    <form action="/addingUser" method="get">
      <input class="headerButton" type="submit" name="" value="Adding User">
    </form>
    <form action="/home" method="get">
      <input class="headerButton" type="submit" name="" value="Home">
    </form>
  </div>
</div>
